# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
## Build generated
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcscheme
!*.xcworkspace/contents.xcworkspacedata
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.swiftpm
.swiftpm

# CocoaPods
Pods/
*.xcworkspace
!default.xcworkspace
Podfile.lock

# Carthage
Carthage/Build
Carthage/Checkouts

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/README.md

# Visual Studio Code
.vscode/
*.code-workspace
.history/

# JetBrains IDEs (AppCode, IntelliJ IDEA, etc.)
.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Vim
*.swp
*.swo

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp

# Other IDEs
.atom/
.eclipse/
.settings/

# Code coverage
*.gcda
*.gcno
*.gcov
coverage/
*.profdata

# Testing
*.xcresult
