# Xcode user-specific files
*.xcuserstate
*.xcuserdatad
xcuserdata/

# Other Xcode files that shouldn't be tracked
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
!default.pbxuser
project.xcworkspace
!default.xcworkspace

# Build products
build/
DerivedData/

# macOS
.DS_Store
